/vendor/
/node_modules/
/.idea/
/.vscode/
/storage/
/bootstrap/cache/
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
*.log
composer.lock
package-lock.json
yarn.lock
bun.lockb
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
.php-cs-fixer.cache
/coverage/
/.phpunit.cache
/Usage